sdtime-web/Service References/CWTicketService/TicketService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52999/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:52999/TicketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SD.CWServices.Model.Tickets" />
  <xs:element name="GetTicketsForTheWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="members" nillable="true" type="q1:ArrayOfNullableOfint" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="clients" nillable="true" type="q2:ArrayOfNullableOfint" />
        <xs:element minOccurs="0" name="serviceBoard" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsForTheWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SD.CWServices.Model.Tickets" minOccurs="0" name="GetTicketsForTheWeekResult" nillable="true" type="q3:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceBoard" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SD.CWServices.Model.Tickets" minOccurs="0" name="GetStatusResult" nillable="true" type="q4:ArrayOfStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SD.CWServices.Model.Tickets" minOccurs="0" name="ticket" nillable="true" type="q5:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>