sdtime-web/Service References/CWTicketService/TicketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52999/TicketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52999/TicketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52999/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:52999/TicketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SD.CWServices.Model.Tickets" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketService_GetTicketsForTheWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsForTheWeek" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetTicketsForTheWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsForTheWeekResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_SetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_SetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketService">
    <wsdl:operation name="GetTicketsForTheWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetTicketsForTheWeek" message="tns:ITicketService_GetTicketsForTheWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetTicketsForTheWeekResponse" message="tns:ITicketService_GetTicketsForTheWeek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetStatus" message="tns:ITicketService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetStatusResponse" message="tns:ITicketService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/SetTicket" message="tns:ITicketService_SetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/SetTicketResponse" message="tns:ITicketService_SetTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketService" type="tns:ITicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTicketsForTheWeek">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetTicketsForTheWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/SetTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketService">
    <wsdl:port name="BasicHttpBinding_ITicketService" binding="tns:BasicHttpBinding_ITicketService">
      <soap:address location="http://localhost:52999/TicketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>